html {
  background-image: url('../img/b2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0 auto;
  padding: 0;
  top: 0;
  left: 0;
}
a {
  text-decoration:none;
  color: black;
}
a:hover {
  color: white;
  text-decoration: underline;
}

a:visited {
  color: white;
}

a::after, a::before {
  content: "-";
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: rgba(16, 126, 241, 0.4);
  font-family: 'Amatic SC', cursive;
}

.navbar h3 {
margin-top: 10px;
margin-left: 15px;
font-size: 1.7em;
}

#right {
  float: right;
  margin-right: 15px;
  font-size: 1.5em;
  margin-top: -60px;
}

#list {
  position: absolute;
  left: 5px;
  top: 50px;
  z-index: -1;
}

.leftSide h4 {
  position: absolute;
  left: 370px;
  top: 45px;
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  color: rgb(14, 29, 92);
}

.rightSide {
  position: absolute;
  left: 640px;
  top: 105px;
  right: 50px;
}

.rightSide h4 {
  font-family: 'Amatic SC', cursive;
  font-size: 1.9em;
  color: rgb(14, 29, 92);
  margin-bottom: 5px;
}

.rightSide p {
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgb(45, 80, 165);
}

#hgl {
  font-family: 'Amatic SC', cursive;
}

#backList {
  margin-top: -45px;
  margin-left: 100px;
}

#header {
  position: relative;
  margin-top: 100px;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  color: rgb(14, 29, 92);
  text-decoration: underline;
}

.reviews img {
  width: 150px;
  height: 100px;
  overflow: hidden;
  object-fit: cover;
  display: block;
  margin: auto;
  opacity: 0.8;
  border-radius: 5px;
}

.r1 {
  float: left;
  margin-left: 40px;
  margin-top: 40px;
}

.r1 p {
  text-align: center;
  width: 250px;
  height: 150px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
}

.form {
  position: relative;
  width: 33%;
  min-height: 50%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  margin-top: 300px;
  transform: translate(-50%, -50%);
  border: .5px solid rgba(157, 194, 248, 0.7);
  border-radius: 5px;
  background-color: rgba(31, 53, 149, 0.3);
  padding: 25px;
  box-sizing: border-box;
  overflow: hidden;
}

.purchase {
  font-family: 'Amatic SC', cursive;
  font-size: 1.8em;
  color: rgb(14, 29, 92);
  text-align: center;
}

.form input {
  display: block;
  margin: auto;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  height: 25px;
  width: 200px;
  text-align: center;
  background-color: rgba(31, 53, 149, 0.4);
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.25em;
}

button {
  display: block;
  margin: auto;
  margin-top: 10px;
  height: 35px;
  width: 175px;
  text-align: center;
  background-color: rgba(31, 53, 149, 0.6);
  color: rgb(13, 34, 97);
  border: none;
  border-radius: 5px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.25em;
}
